/* import tawilwind */
@import "tailwindcss";

/* variaveis de css  */
@theme {
  --color-backgorund: #F5F7FA;
  --color-backgroundBox: #CFD4D9;
  --color-foreground: #000000;
  --color-gray: #E8E8E8;
  --color-bgFooter: #003366;
  --color-bgSelected: #005DA2;
  --color-bgProductBtn: #003366;
  --color-bgFormBox: #A0AAB3;
  --color-bgInputForm: #CFD4D9;
  --color-textInput: #3C3C3C;
}

/* Configurações base da aplicação */
@layer base {
  html,
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--font-poppins), sans-serif;
  }

  input,
  select,
  textarea {
    font-family: var(--font-poppins), sans-serif;
  }
}